/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
           .University-Name{
            text-align: center;
           }
           .img-section{
            display: flex;
            justify-content: center;
        }
         
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* header section */
    .University-Name{
        text-align: center;
       }
       .img-section{
        display: flex;
        justify-content: center;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     .navbar-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-section{
        display: flex;
        justify-content: center;
    }
    .University-Name{
        text-align: center;
       }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 588px) {
    .navbar-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .University-Name{
        text-align: center;
       }
}